*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

body {
    background: rgb(203, 206, 202);
    color: white;
    overflow: hidden;
    overflow-y: scroll;
}